/* 基本设置 */
body {
  margin: 1% 4% 1% 4%;
  padding: 0;
  min-width: 920px;
  font-family: Arial, sans-serif;
}

/* 顶栏横向排列 */
.topbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

/* 导航栏背景和内边距 */
nav {
  width: 50%;
  background-color: #ffffff;
  padding: 0;
  white-space: nowrap;
}

/* 横向排列菜单项 */
nav ul {
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  display: flex;
}

/* 每项的右边距 */
nav li {
  margin-right: 20px;
}

/* 链接样式 */
a {
  display: block;
  color: black;
  text-decoration: none;
}

/* 鼠标悬停效果 */
nav a:hover {
  transform: scale(1.2)
}



.logo a{
  width: 50%;
  display: flex;
  align-items: center;
  white-space: nowrap;/* 不换行 */

}

.logo img {
  width: 20%;
  height: auto;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    width: 200px;
    padding: 10px;
    z-index: 1000;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 10px;
    border-bottom: 1px solid #666;
  }
}

